<div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-lg font-semibold text-gray-700 mb-4">{{ isEditMode ? 'Edit Task' : 'Add Task' }}</h2>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Title</label>
        <input type="text" formControlName="title" class="w-full p-2 border rounded" placeholder="Task Title">
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Status</label>
        <select formControlName="status" class="w-full p-2 border rounded">
          <option value="todo">To Do</option>
          <option value="in-progress">In Progress</option>
          <option value="done">Done</option>
        </select>
      </div>
  
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-600">Due Date</label>
        <input type="date" formControlName="dueDate" class="w-full p-2 border rounded">
      </div>
  
      <div class="flex justify-end gap-2">
        <button type="button" class="bg-gray-300 px-4 py-2 rounded cursor-pointer" (click)="onCancel()">Cancel</button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" [ngClass]="!taskForm.valid ? 'pointer-events-none opacity-50': ''">{{ isEditMode ? 'Update' : 'Create' }}</button>
      </div>
    </form>
  </div>
  